.input-width-400 {
    width: 400px;
    }
    .input-width-100 {
    width: 100px;
    }
    .input-width-150 {
        width: 150px;
    }
    .input-width-320 {
    width: 320px;
    }
    .input-width-500 {
    width: 500px;
    }
    .input-width-450 {
    width: 450px;
    }
    div {
       padding: 0px;
      }
    